body {
  font-family: Arial, sans-serif;
  background-color: #333;
}

.App {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #444;
  color: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #eee;
}

input[type='text'],
input[type='email'],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #555;
  color: #eee;
  font-size: 16px;
  margin-right: 10px;
}

textarea {
  height: 100px;
}

button {
  width: 100%;
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
